<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HCI Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="centered">

        <h1>HCI Quiz</h1>
        <p>
            Please select a quiz to carry out:
        </p>
        <a href="/training-computer">Computer Training</a><br />
        <a href="/questions-computer-checkbox">Computer Quiz - Checkboxes</a><br />
        <a href="/questions-computer-text">Computer Quiz - Input Field</a><br /><br />

        <a href="/training-tablet">Tablet Training</a><br />
        <a href="/questions-tablet-checkbox">Tablet Quiz - Checkboxes</a><br />
        <a href="/questions-tablet-text">Tablet Quiz - Input Field</a><br /><br />

        <a href="/training-paper">Paper Training</a><br />
        <a href="/questions-paper-checkbox">Paper Quiz - Checkbox Field</a><br />
        <a href="/questions-paper-text">Paper Quiz - Input Field</a>
    </div>
</body>
</html>